{
    "presets": [
        "es2015",
        "es2016",
        "es2017",
        "react",
    ],
    "plugins": [
        "transform-react-jsx",
        ["transform-runtime", {
            "polyfill": false,
        }],
        ["import", {
            "libraryName": "antd",
            "style": true,
        }]
    ]
}
