{
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true,
    },
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "semi": 0,
        "import/no-extraneous-dependencies": "off",
        "indent": ["error", 4],
        "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4]
    }
}
