:export {
    appContainer: app-container;
    page: page;
}

.app-container {
    background: #ececec;
    .page {
        background: #fff;
        margin: 15px 50px;
        padding: 5px 25px;
        min-height: 100px;
    }
}
