{
    "env": {
        "browser": true,
        "mocha": true,
        "node": true,
        "protractor": true,
    },
    "parser": "babel-eslint",
    "rules": {
        "semi": 0,
        "import/no-extraneous-dependencies": ["error", { "devDependencies": ["**/*.spec.js"] }],
        "indent": ["error", 4]
    },
}
